.cd-main {
  width: 100%;
  overflow: hidden;
  min-height: 420px;
  margin-top: 50px;
}

.cd-main #cd-search {
  clear: both;
}

.cd-main #cd-detail {
  display: none;
  padding-bottom: 50px;
}

.cd-main #cd-result {
  overflow: hidden;
}

.cd-main #cd-loading {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  left: 0;
  top: 0;
}

.cd-main #cd-loading img {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  position: absolute;
  top: 50%;
  top: 200px;
}

.cd-main .cd-section {
  width: 100%;
}

.cd-main #cd-search .col {
  height: 50px;
  padding: 0 10px;
  display: block;
  margin: 3px 0;
}

.cd-main #cd-query {
  border-radius: 0;
  border: 1px solid #999;
  padding: 5px;
  outline: none;
  width: 100%;
  height: 100%;
}

.cd-main #cd-ddl button {
  width: 100%;
  height: 100%;
  border-radius: 0;
  border: 1px solid #999;
  padding: 5px;
  background-color: white;
  text-align: left;
}

.cd-main #cd-ddl button .caret {
  float: right;
  margin-top: 8px;
}

.cd-main #cd-ddl .dropdown-menu {
  width: calc(100% - 20px);
  border-radius: 0;
  border-color: #999;
  padding: 5px;
  background-color: white;  
  margin: 0;
  left: 10px;
}

.cd-main #cd-ddl .dropdown-menu li {
  cursor: pointer;
  padding: 6px;
}

.cd-main #cd-ddl .dropdown-menu li:hover{
  background-color: #ed1c2e;
  color: white;
}

.cd-main #btn-cd-search {
  background-color: #ed1c2e;
  border: none;
  color: white;
  height: 30px;
  width: 100%;
  height: 100%;
}

.cd-main #cd-result {
  padding: 50px;
}

.cd-main #cd-result .cd-entity .name {
  cursor: pointer;
  color: #ed1c2e;
  font-size: 16px;
}

.cd-main #cd-result .cd-entity .name:hover {
  text-decoration: underline;
}

.cd-main #cd-result .cd-entity .address {
  margin-left: 10px;
  font-size: 14px;
}

.cd-main #cd-detail #cd-back {
  color: #ed1c2e;
  margin: 20px 15px;
  cursor: pointer;
  float: left;
}

.cd-main #cd-detail #cd-back:hover {
  text-decoration: underline;
}

.cd-main #cd-detail #cd-map {
  height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cd-main #cd-detail .cd-label {
  font-weight: 600;
}

.cd-main #cd-detail #cd-name {
  color: #ed1c2e;
  font-size: 28px;
  font-weight: 600;
  margin-left: 15px;
  clear: both;
}

.cd-main #cd-detail .detail-row {
  margin-left: 15px;
}

.cd-main #cd-detail #cd-parent {
  clear: both;
}

.cd-main #cd-detail a {
  color: #ed1c2e;
}

.cd-main #cd-detail a:visited {
  color: #ed1c2e;
}